.hello{
  display: flex;
  border: 2px solid $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: $dark_violet;
  margin: 1px auto;
  justify-content: space-around;

  @media only screen and (max-width: 1050px){
    flex-wrap: wrap;
  }

  &__photo{
    margin-top: 1rem;
    @media only screen and (min-width: 550px){
      flex: 0 0 50%;
      min-width: 512px;
    }

    &--1{
      position: relative;
      left: 15.72%;
      top: 27.8%;
      transform: matrix(0.99, -0.15, 0.15, 0.99, 0, 0);
      border: 1px solid #000000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @media only screen and (max-width: 550px){
        display:none;
      }
    }
    &--2{
      position: relative;
      left: -53.31%;
      top: 36.8%;
      border: 1px solid #000000;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @media only screen and (max-width: 550px){
        display:none;
      }
    }
    &--3{
      position: relative;
      left: 11.72%;
      top: -44.53%;
      border: 1px solid #000000;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transform: matrix(0.93, -0.36, 0.37, 0.93, 0, 0);
      @media only screen and (max-width: 550px){
        display:none;
      }
    }
    &--4{
      position: relative;
      left: 24.18%;
      top: -33.59%;
      border: 1px solid #000000;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transform: matrix(0.97, 0.22, -0.23, 0.97, 0, 0);
      @media only screen and (max-width: 550px){
        display:none;
      }
    }
    &--5{
      
      @media only screen and (min-width: 550px){
        display:none;
      }
    }
  }
  &__text{
    flex: 0 0 50%;
    padding-top: 4rem;
    padding-right: .625rem;
    
    @media only screen and (max-width: 1050px){
      padding-top: 0;
      padding-bottom: 1rem;
    }

    &--greatings{
      font-size: 11.25rem;
      font-weight: 700;
      display: inline;
    }
    &--paragraph{
      font-size: 3.125rem;
      font-weight: 400;
      display: inline;
    }
  }
}
.main{
  &__article{
    padding: 1rem;
  }
  &__img{
    float: left;
    border-radius: 5%;
    margin: 0 0.625rem 0.625rem 0;
  }
}
.see-more{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $dark_violet;
  padding-top: 2rem;

  &__link{
    text-decoration: none;
    color: $white;
    display: inline-block;
    transition: all .2s;
    padding: 2px;
    border-radius: 10%;

    &:hover{
      cursor: pointer;
      background-color: $light_violet;
      transform: translateY(-2px) scale(1.1);
    }
    &:active{
      transform: translateY(0) scale(1);
    }
  }
}
.zoo__paragraph, 
.dwarf__paragraph,
.adventure__paragraph,
.unboxing__paragraph,
.about__paragraph,
.books__paragraph{
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: $white;
  margin-top: 0.9375rem;
}
.slider{
  height: 80vh;
  max-height: 576px;
  position: relative;
  margin: .625rem;
  @media only screen and (max-width: 970px){
    height: 70vh;
  }
  @media only screen and (max-width: 860px){
    height: 60vh;
  }
  @media only screen and (max-width: 720px){
    height: 50vh;
  }
  @media only screen and (max-width: 620px){
    height: 40vh;
  }
  @media only screen and (max-width: 500px){
    height: 30vh;
  }
}
.travels{
  &__row{
    margin-top: 2rem;
    &:last-child{
      margin-bottom: 2rem;
    }
  }
}
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(#000000, .1);
  background-color: rgba(#ffff, .6);
  border-radius: 3px;
  padding: 2rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  @media only screen and (max-width: 1000px){
    padding-left: 4rem;
  }
  @media only screen and (max-width: 740px){
    transform: skewX(0deg);
  }

  &__shape {
      width: 9rem;
      height: 9rem;
      float: left;
      transform: translateX(-3rem) skewX(12deg);
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      shape-outside: circle(50% at 50% 50%);
      @media only screen and (max-width: 1000px){
        width: 8rem;
        height: 8rem;
        transform: translateX(-2rem) skewX(12deg);
      }
      @media only screen and (max-width: 740px){
        transform: translateX(-1rem) skewX(0deg);
      }
  }
  &__heading{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0 0 0.625rem 0;
  }
  &__info{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 1.25rem;
    padding-right: 1rem;
  }
  &__img {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      backface-visibility: hidden;
      transition: all .5s;
  }
  &__link{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #7A0099;
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    padding: 2px;
    transition: all .2s;
    &:hover{
      cursor: pointer;
      background-color: #BE60D6;
      color: #ffff;
      transform: translateY(-2px) scale(1.1);
      font-weight: 400;
      border-radius: 50%;
      padding: .625rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &:active{
      transform: translateY(0) scale(1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    }
  }
  &__text {
      transform: skewX(12deg);
      @media only screen and (max-width: 740px){
        transform: skewX(0deg);
      }
  }
  &__list{
    padding-left: 6rem;
  }
  &__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: #ffff;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all .5s;
      backface-visibility: hidden;
  }
  &__video{
    margin-bottom: 1rem;
  }
  &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
  }

  &:hover &__img {
      transform: translateX(-4rem) scale(1);
      filter: blur(3px) brightness(80%);
  }
}
.list__element{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5rem;
}
.footer{
  width: 100%;
  height: 5rem;
  background: $light_violet;
  border: 2px solid $white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer--article{
  width: 100%;
  height: 5rem;
  background: $light_violet;
  border: 2px solid $white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.adnotio__img{
  padding-right: 0.625rem;
  border-radius: 50%;
}
.footer__text{
  color: darkblue;
  font-size: 1.375rem;
}
