.gallery{
  background-color: #BE60D6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(20, 5vw);
  grid-gap: .5rem;
  padding: 1.5rem;

  &__item{
    &--1{
      grid-row: 1/ span 2;
      grid-column: 1/ span 2;
      @include img_click;
    }
    &--2 {
      grid-row: 1 / span 3;
      grid-column: 3 / span 3;
      @include img_click;
    }
    &--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / 7;
      @include img_click;
    }
    &--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / -1;
      @include img_click;
    }
    &--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2;
      @include img_click;
    }
    &--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;
      @include img_click;
    }
    &--7 {
      grid-row: 3 / span 2;
      grid-column: 6 / span 3;
      @include img_click;
    }
    &--8 {
      grid-row: 4 / span 1;
      grid-column: 5 / span 1;
      @include img_click;
    }
    &--9 {
      grid-row: 5 / span 3;
      grid-column: 5 / span 3;
      @include img_click;
    }
    &--10 {
      grid-row: 5 / span 1;
      grid-column: 8 / span 1;
      @include img_click;
    }
    &--11 {
      grid-row: 6 / span 1;
      grid-column: 8 / span 1;
      @include img_click;
    }
    &--12 {
      grid-row: 7 / span 1;
      grid-column: 8 / span 1;
      @include img_click;
    }
    &--13 {
      grid-row: 8 / span 2;
      grid-column: 7 / span 2;
      @include img_click;
    }
    &--14 {
      grid-row: 8 / span 3;
      grid-column: 4 / span 3;
      @include img_click;
    }
    &--15 {
      grid-row: 6 / span 1;
      grid-column: 1 / span 1;
      @include img_click;
    } 
    &--16 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 2;
      @include img_click;
    }
    &--17 {
      grid-row: 6 / span 1;
      grid-column: 4 / span 1;
      @include img_click;
    }
    &--18 {
      grid-row: 7 / span 1;
      grid-column: 4 / span 1;
      @include img_click;
    }
    &--19 {
      grid-row: 7 / span 1;
      grid-column: 1 / span 1;
      @include img_click;
    }
    &--20 {
      grid-row: 8 / span 2;
      grid-column: 1 / span 1;
      @include img_click;
    }
    &--21 {
      grid-row: 8 / span 1;
      grid-column: 2 / span 1;
      @include img_click;
    }
    &--22 {
      grid-row: 8 / span 1;
      grid-column: 3 / span 1;
      @include img_click;
    }
    &--23 {
      grid-row: 9 / span 1;
      grid-column: 2 / span 1;
      @include img_click;
    }
    &--24 {
      grid-row: 11 / span 3;
      grid-column: 2 / span 3;
      @include img_click;
    }
    &--25 {
      grid-row: 9 / span 1;
      grid-column: 3 / span 1;
      @include img_click;
    }
    &--26 {
      grid-row: 10 / span 1;
      grid-column: 1 / span 1;
      @include img_click;
    }
    &--27 {
      grid-row: 10 / span 1;
      grid-column: 2 / span 1;
      @include img_click;
    }
    &--28 {
      grid-row: 10 / span 1;
      grid-column: 3 / span 1;
      @include img_click;
    }
    &--29 {
      grid-row: 12 / span 3;
      grid-column: 6 / span 3;
      @include img_click;
    }
    &--30 {
      grid-row: 10 / span 1;
      grid-column: 7 / span 1;
      @include img_click;
    }
    &--31 {
      grid-row: 10 / span 1;
      grid-column: 8 / span 1;
      @include img_click;
    }
  }
  &__img{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}